# Byte-compiled / optimized / DLL files
.ipynb_checkpoints
__pycache__

# Conda environments
lulc-conda
lulc2-conda

# Custom folders
input/*
!input/best_configs
output

# Specific file extensions
*.out
