# Byte-compiled / optimized / DLL files
.ipynb_checkpoints
__pycache__

# Conda environments

# Custom folders
input/*
!input/best_configs
output
results_paper_stratified/back-up_final_pretraining

# Specific file extensions
*.out
